##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

INFLUXD_HTTP_BIND_ADDRESS="{{ install_influxdb_http_bind_address }}:{{ install_influxdb_http_bind_port }}"

{% if install_influxdb_ssl | default(false) %}
INFLUXD_TLS_CERT="/etc/influxdb2-cert.pem.crt"
INFLUXD_TLS_KEY="/etc/influxdb2-key.pem.key"
{% endif %}